<div ng-controller = 'VotesController'>
<title>Survay Poll</title>
</head>
<body>
	<div class = "container">
	<a href="#/dashboard">Go to Polls</a>
	<h3><span ng-bind = 'poll.question'></span></h3>
	<p>Click the Vote button to choose one.</p>
	<table>
		<tr>
			<td>Option</td>
			<td>Current Count of Votes</td>
			<td>Action</td>
		</tr>
		<tr ng-repeat = 'option in options'>
			<td><span ng-bind = 'option.option'></span></td>
			<td><span ng-bind = 'option.count'></span></td>
			<td><button ng-click = 'addVote(option._id)'>Vote</button></td>
		</tr>
	</table>
	</div>
</body>
</div>